<!--[if IE 8]>
    <html xmlns="http://www.w3.org/1999/xhtml" class="ie8" lang="es-ES">
  <![endif]-->
<!--[if !(IE 8) ]>
    <html xmlns="http://www.w3.org/1999/xhtml" lang="es-ES">
    <!<![endif]-->
<html lang="es-ES">

<head>
  <meta charset=utf-8>
  <meta name="author" content="{{site.author}}" />
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="me" href="https://github.com/vlozadadotcom" />
  <link rel="me" href="https://mastodon.social/@lordvalor" />
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
  {% feed_meta %}
  {% seo %}
</head>

<body>