<div class="side-section">
	<h4>Social</h4>
<ul>
<li><a href="https://github.com/lordvalor" target="_blank" rel="noopener nofollow" alt="Github">Github</a></li>
<li><a href="https://twitter.com/lordvalor" target="_blank" rel="noopener nofollow" alt="twitter">Twitter</a></li>
<li><a href="https://linkedin.com/" target="_blank" rel="noopener nofollow" alt="Linkedin">Linkedin</a></li>
<li><a href="{{site.baseurl}}/feed.xml" target="_blank" alt="rss">RSS</a></li>
</ul>
</div>
<div class="side-section">
	<h4>Links</h4>
</div>
<div class="side-section">
	
</div>  