body{
	color: #000;
	background-color: #FFF;
}
/**h1,h2,h3,h4,h5,h6{
	color: #0affff;
	}
**/
p code.highlighter-rouge{
	color: #d14;
}	
a{
	color: #666;
	text-decoration: none;
}
.owner{
	padding: 5px;
}
.navbar ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    margin-top: 0;
}
.navbar li{
float: left;
}
.navbar a{
	 display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}