<!DOCTYPE html>
  {% include head.html %}
<!--end header-->
<body>
	<div class="container">
		<section class="header">
			<a href="https://lordvalor.com/"><img class="image-profile" src="{{site.baseurl}}/assets/images/profile.png" alt="Valdemar Lozada"></a>
			<h2 class="title">Hola, Soy Valdemar!</h2>
			<p>{{ site.description }}</p>
			<ul class="nav">
				<li><a href="https://lordvalor.com/">blog</a></li>
				<li><a href="https://www.linkedin.com/in/valdemarlozada/" target="_blank" rel="nofollow noopener" title="LinkedIn Profile">LinkedIn</a></li>
			</ul>
		</section>
	</div>
	{% include footer.html %}
</body>
</html>
