<!DOCTYPE html>
  {% include head.html %}
<!--end header-->
<body>		
	<div class="container">
		<section class="header">
			<img class="image-profile" src="{{site.baseurl}}/assets/images/profile.png" alt="Valdemar Lozada">
			<h2 class="title">{{ site.name }}</h2>
			<p>{{ site.description }}</p>
			<ul class="icons">
			    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
			    <li><a href="#"><i class="fab fa-github"></i></a></li>
			    <li><a href="#"><i class="fab fa-medium"></i></a></li>
			    <li><a href="#"><i class="fas fa-envelope"></i></a></li>
			</ul>
			<ul class="nav">
			    <li>/blog</li>
			    <li>/portfolio</li>
			    <li>/about</li>
			    <li>/cv</li>
			</ul>
		</section>
	</div>
	{% include footer.html %}
</body>
</html>