<!DOCTYPE html>
  <!--[if IE 8]>
    <html xmlns="http://www.w3.org/1999/xhtml" class="ie8" lang="en-US">
  <![endif]-->
  <!--[if !(IE 8) ]><!-->
    <html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
  <!--<![endif]-->
<head>	
	<meta charset=utf-8>	
	<meta name="author" content="{{site.author}}"/>
	<meta name=description content="{{site.description}}">	
	<meta name=viewport content="width=device-width, initial-scale=1">	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ page.title }}</title>
	  <link rel="icon" type="image/gif" href="{{site.baseurl}}/assets/images/favicon.png" />
	<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/skeleton.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css">    
</head>
<!--end header-->
<body>	
	<div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
       {{ content }}
      </div>
    </div>
  </div>
  <!--start footer-->	
</body>
</html>